@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


.title-regular {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.title-bold {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
}

.title-bold-accent {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--ACCENT-1);
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    color: var(--ACCENT-1);
}

.text-light {
    font-family: "Source Code Pro", monospace;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: var(--TEXT);
}

.text-regular {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: var(--TEXT);
}

.text-bold {
    font-family: "Source Code Pro", monospace;
    font-weight: 500 !important;
    font-style: normal; 
    font-size: 1em;
    color: var(--TEXT);
}