
/* Estilos para el tema clásico */

:root {
    --BACKGROUND1: #1E1A17;
    --BACKGROUND2: #2B2623;
    --TEXT: #EFEBE9;
    --TEXT2: #BCAAA4;
    --ACCENT-1: #8D6E63;
    --ACCENT-2: #A1887F;
    --ACCENT-3: #D7CCC8;
  }


/* Tema claro con toques azules

:root {
    --BACKGROUND1: #fcf9e8;
    --BACKGROUND2: #ddfaf8;
    --TEXT: #20201f;
    --TEXT2: #BCAAA4;
    --ACCENT-1: #FF6B6B;
    --ACCENT-2: #125572;
    --ACCENT-3: #F39C12;
}
*/


body {
    color: var(--TEXT);
    background-color: var(--BACKGROUND1);
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--BACKGROUND2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer-contact-icons {
    margin: 0 4em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    footer > p {
        color: var(--ACCENT-2);
        margin: 0 4em;
    }

.footer-legal {
    margin: 0 4em;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--ACCENT-2);
}

a:hover {
    color: var(--ACCENT-1);
}

.footer-contact-icons > a:hover {
    opacity: 0.5;
}

.ir-arriba {
    display: none;
}